@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    @:<div class="flashWrapper">
      @:          <div id="cont">
                    <div class="itemm" id="item-1">
                        <a href="http://sewbie.com/manufacturer/37-carolina-benoit.aspx">
                            <img src="/Content/images/homepagebanner1.jpg" />
                        </a>
                    </div>
                    <div class="itemm" id="item-3">
                        <a href="http://sewbie.com/manufacturer/18-clo-hair-bows.aspx">
                            <img src="/Content/images/homepagebanner2.jpg" />
                        </a>
                    </div>
                    <div class="itemm" id="item-4">
                        <a href="http://sewbie.com/manufacturer/12-hello-again-vintage.aspx">
                            <img src="/Content/images/homepagebanner3.jpg" />
                        </a>
                    </div>
                    <div class="itemm" id="item-5">
                        <a href="http://sewbie.com/manufacturer/28-caviar-noir.aspx">
                            <img src="/Content/images/homepagebanner4.jpg" />
                        </a>
                    </div>
                    <div class="itemm" id="item-6">
                        <a href="http://sewbie.com/manufacturer/22-alex-afton.aspx">
                            <img src="/Content/images/homepagebanner5.jpg" />
                        </a>
                    </div>
                    <div class="itemm" id="item-7">
                        <a href="http://sewbie.com/manufacturer/39-feisty-babies.aspx">
                            <img src="/Content/images/homepagebanner6.jpg" />
                        </a>
                    </div>
                    <div class="itemm" id="item-8">
                        <a href="http://sewbie.com/manufacturer/39-feisty-babies.aspx">
                            <img src="/Content/images/homepagebanner7.jpg" />
                        </a>
                    </div>


}